# Dependencies
node_modules/
package-lock.json
yarn.lock

*.pkl

data/
datasets/images
 
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

backend/flask_session/
dataset/
backend/venv/
venv/

# Environment variables
.env
backend/.env
frontend/.env
