Flask
Flask-CORS
Flask-SQLAlchemy
Flask-JWT-Extended
python-dotenv
bcrypt
Pillow
numpy
pandas
scikit-learn
requests
Werkzeug
flask-session
google-auth
google-auth-oauthlib
google-auth-httplib2
opencv-python-headless
